.authLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1e1e1e;
  padding: 1rem;
  box-sizing: border-box;
}

.content {
  padding: 2rem;
  background-color: #2f2f2f;
  border-radius: 8px;
  color: white;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
